.header {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  padding-top: 10px;
}
.header nav {
  margin-left: 90px;
}
.header_menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}
.header_menu a {
  display: block;
  text-decoration: none;
  color: #264065;
  transition: all 0.2s ease-in-out;
}
.header_menu a:hover {
  transform: scale(1.1);
  font-weight: 400;
}
.header_menu_secundario {
  transition: all 0.2s ease-in-out;
  position: relative;
}
.header_menu_secundario .click {
  cursor: pointer;
}
.header_menu_secundario img {
  position: absolute;
  top: 1px;
  right: -30px;
}
.header_menu_secundario .checkbox {
  display: none;
}
.header_menu_secundario:hover {
  transform: scale(1.1);
  font-weight: 400;
}
.header_menu_secundario .submenu {
  width: 100px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.header_menu_secundario .checkbox:checked ~ .submenu {
  display: block;
}
.header_icons {
  margin-top: 8px;
  margin-left: 180px;
  display: flex;
  gap: 30px;
}
.header_icons a {
  display: block;
  text-decoration: none;
  color: #264065;
  transition: all 0.2s ease-in-out;
}
.header_icons a:hover {
  transform: scale(1.1);
  font-weight: 400;
}
.header_login {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}
.header_login li {
  padding: 10px 20px;
}
.header_login li a {
  display: block;
  text-decoration: none;
  color: #264065;
  transition: all 0.2s ease-in-out;
}
.header_login li a:hover {
  transform: scale(1.1);
  font-weight: 400;
}
.header_login li a {
  text-decoration: underline;
}
.header_login li:last-child {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #264065;
  border-radius: 50px;
}
.header_login li:last-child a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #264065;
  background-image: url("../img/woman.png"), url("../img/spa.png"), linear-gradient(to right, white 65%, #A9D6CB 65%, #A9D6CB 100%);
  background-size: 37%, 28%, 100% 76vh;
  background-position: 70% 85px, 85% 30px, left top;
  background-repeat: no-repeat;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  box-sizing: border-box;
}

.hero {
  width: 690px;
  margin-top: 75px;
}
.hero_h1 {
  font-size: 60px;
  line-height: 70px;
}
.hero_p {
  font-size: 21px;
  color: #909090;
  margin-bottom: 50px;
}
.hero_ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  gap: 60px;
}
.hero_ul li {
  padding: 10px 20px;
}
.hero_ul li:first-child {
  padding: 10px 20px;
  background-color: #264065;
  border-radius: 50px;
  color: white;
}
.hero_ul li:first-child a {
  color: white;
}
.hero_ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #264065;
  transition: all 0.2s ease-in-out;
}
.hero_ul li a:hover {
  transform: scale(1.1);
  font-weight: 400;
}
.hero_ul li a img {
  position: absolute;
  top: -18px;
  right: 80px;
}

.div-flex {
  display: flex;
  gap: 30px;
}

.hero_footer {
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}
.hero_footer img {
  width: 50px;
}
.hero_footer h3 {
  font-weight: 500;
  margin-top: 14px;
  margin-bottom: 14px;
}
.hero_footer p {
  color: #909090;
  font-size: 14px;
}

.comentarios {
  position: relative;
  display: flex;
}
.comentarios article {
  width: 270px;
  height: 150px;
  padding: 20px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 20px;
  position: relative;
}
.comentarios article:first-child {
  top: 20px;
  right: -400px;
}
.comentarios article:last-child {
  top: -200px;
  right: -250px;
}
.comentarios article p {
  color: #070D15;
  margin: 0;
}
.comentarios article h4 {
  margin: 0;
  margin-top: 5px;
}/*# sourceMappingURL=app.css.map */