@use "../abstracts/variables" as v;

@mixin ul() {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin a() {
  display: block;
  text-decoration: none;
  color: v.$azul;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    font-weight: 400;
  }
}

@mixin boton() {
  padding: 10px 20px;
  background-color: v.$azul;
border-radius: 50px;
}