@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_logo {
    padding-top: 10px;
  }
  nav {
    margin-left: 100px;
  }
  &_menu {
    @include m.ul();
    gap: 40px;
    & a {
      @include m.a();
    }
    &_secundario {
      transition: all 0.2s ease-in-out;
      position: relative;
      & .click {
        cursor: pointer;
      }
      & img {
        position: absolute;
        top: 1px;
        right: -30px;
      }
      & .checkbox {
        display: none;
      }
      &:hover {
        transform: scale(1.1);
        font-weight: 400;
      }
      & .submenu {
        width: 100px;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
      }
      & .checkbox:checked ~ .submenu {
        display: block;
      }
    }
  }
  &_icons {
    margin-top: 8px;
    margin-left: 200px;
    display: flex;
    gap: 30px;
    & a {
      @include m.a();
    }
  }
  &_login {
    @include m.ul();
    gap: 40px;
    & li {
      padding: 10px 20px;
      & a {
        @include m.a();
        text-decoration: underline;
      }
      &:last-child {
        text-decoration: none;
        @include m.boton();
        & a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
