@use "../abstracts/variables" as v;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: v.$azul;
  background-image:
    url("../img/woman.png"), url("../img/spa.png"),
    linear-gradient(
      to right,
      white 65%,
      v.$azul-secondary 65%,
      v.$azul-secondary 100%
    );
  background-size:
    37%,28%,
    100% 76vh;
  background-position:
    70% 85px, 85% 30px,
    left top;
  background-repeat: no-repeat;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  box-sizing: border-box;
}
