@use "../abstracts/variables" as v;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: v.$azul;
  background-image:
    url("../img/spa.png"),
    linear-gradient(
      to right,
      white 68%,
      v.$azul-secondary 68%,
      v.$azul-secondary 100%
    );
  background-size:
    auto,
    100% 90vh;
  background-position: 90% 50px, left top;
  background-repeat: no-repeat;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding: 16px;
  box-sizing: border-box;
}
